/* Reset */
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}
p {
  line-height: 30px;
}

.container {
  width: 70%;
  margin: auto;
}

.pink_section {
  background-color: $section_bgcolor;
}

.row {
  width: 100%;
}

.col_3 {
  width: 30%;
}

.col_12 {
  width: 100%;
}
